n8n-workflows/LInkdein posting woprk flow.json
{
  "name": "LInkdein posting woprk flow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "621dffe9-0377-4a19-bfe0-fb70ff4fa21b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk",
          "mode": "list",
          "cachedResultName": "Linkedin post idea ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Ready"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        176,
        0
      ],
      "id": "0cdb51a9-8633-40e1-a952-0a074be6d414",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XbBjwHxZFKdTdmg9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Idea: {{ $('Get row(s) in sheet').item.json['Post idea'] }}\nInstructions: {{ $json['Instruction '] }}\nIMPORTANT: Write the post NOW. Do not ask any questions.",
        "options": {
          "systemMessage": "=### ROLE\nYou are a world-class LinkedIn Ghostwriter for high-growth \nFounders and Thought Leaders. Your specialty is scroll-stopping \ncontent that builds authority without looking like AI or a PR \nfirm wrote it. It should be fun to read — something people \ngiggle at or want to share.\n\n### THE GOAL\nCreate a LinkedIn post based on the user's input that looks \n100% human, generates high engagement, and forces the reader \nto click \"See More.\"\n\n### WRITING STYLE (STRICT ADHERENCE)\n1. NO AI-ISMS: Never use \"In today's fast-paced world,\" \n\"Unlock,\" \"Transformative,\" \"Tapestry,\" \"Hustle,\" \n\"Revolutionize,\" \"Dive in,\" or \"Game-changer.\"\n2. PUNCHY RHYTHM: Mix short and very short sentences. \nNo long paragraphs.\n3. WHITE SPACE: Max 2 lines per paragraph. \nWhite space creates the slippery slide effect.\n4. THE HOOK: First sentence must be a Pattern Interrupt — \na bold claim, a counter-intuitive truth, or a specific result.\n5. NO FLUFF: If a sentence doesn't add value or tension, \ndelete it.\n6. TONE: Assertive, slightly opinionated, empathetic. \nPractitioner voice — never lecturer voice.\n\n### POST STRUCTURE\n- Hook (1 sentence): Stop the scroll.\n- Re-Hook (1 sentence): Context or tension.\n- The Meat (3-5 points): The how-to or the value.\n- The Insight (1 sentence): The \"Aha!\" moment.\n- CTA: One low-friction question or specific instruction.\n- 3 lowercase hashtags on the final line.\n\n### CONSTRAINTS\n- Max 1300 characters. Hard limit.\n- Output ONLY the post. No preamble, no \"Here is your post.\"\n- No markdown code blocks.\n- Use · as the bullet symbol for all list items.\n- No em-dashes. Use a regular dash - only.\n- Emojis only if absolutely necessary. Maximum 2.\n- Format for direct copy-paste to LinkedIn.\n\n### INPUT\nPost idea: {{ $json['Post Idea'] }}\nInstructions: {{ $json['Instructions'] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        0
      ],
      "id": "3fa5449d-e7df-4b4b-a9cd-cc2b842f443e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-haiku-4-5-20251001",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "e17d3dd1-e96e-4fb6-947f-2202317c6eff",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "rhwNXupgbg1sY7eq",
          "name": "Anthropic account 4"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "20b3db9c-2c05-4daa-b9fd-26921a20d4e4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "45a3098d-0414-4136-be30-09a7db3afaf0",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "cancel ",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "403b26ff-841f-4265-8619-e29db4a4ce94",
                    "leftValue": "={{ $json.data.approved }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Revise"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        976,
        0
      ],
      "id": "36f43cfc-f2df-4015-98e4-b233d92b5c08",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88a356f9-9e81-46f8-9765-55a0e00289c0",
              "leftValue": "={{ $('Get row(s) in sheet').item.json['Generative inage (yes/no)'] }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1184,
        -48
      ],
      "id": "0ca9c095-d976-4cb2-8449-ef4386550374",
      "name": "If"
    },
    {
      "parameters": {
        "person": "=sandhyayatham",
        "text": "={{ $('AI Agent').item.json.output }}",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1520,
        -176
      ],
      "id": "5113a45b-9d80-474a-88e2-1865c7abbe4c",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "fBKBul9F96NpPu1H",
          "name": "LinkedIn OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "person": "KjU72BUkoZ",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1392,
        48
      ],
      "id": "f42625f7-301f-41f2-8188-4fc2bd7876a2",
      "name": "Create a post1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Axt3eyYEtOi2wuQ9",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3-pro-image-preview",
          "mode": "list",
          "cachedResultName": "models/gemini-3-pro-image-preview (Nano Banana Pro)"
        },
        "prompt": "=Create a professional LinkedIn post image.\n\nPost Content:: {{ $('AI Agent').item.json.output }}\n\nVisual style:\n- Clean minimal background\n- No text in the image\n- Professional corporate colours\n- Abstract or conceptual illustration\n- Suitable for a thought leadership post\n- Modern and polished lookGenerate an interesting image for a LinkedIn post based on the content provided below.\n\nPost Content:\n\n\n1. Image style guidelines\nChoose the best fit based on the analysis.\nIf possible, use some cartoons with some text.\nTry to be a little creative here.\n\n2. Technical specifications\nAspect ratio: 1:1 (square) or 4:5 (vertical) for maximum mobile real estate.\nQuality: Photorealistic, no distorted limbs, no text gibberish.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1344,
        -144
      ],
      "id": "eeda60c3-6e79-42f0-a9d4-cfca616f239e",
      "name": "Generate an image",
      "credentials": {
        "googlePalmApi": {
          "id": "fLkvQcuOmIZJDwLI",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk",
          "mode": "list",
          "cachedResultName": "Linkedin post idea ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json['row_number'] }}",
            "Status": "Published"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Post idea",
              "displayName": "Post idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instruction ",
              "displayName": "Instruction ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generative inage (yes/no)",
              "displayName": "Generative inage (yes/no)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1552,
        48
      ],
      "id": "3e1f45f4-ab56-46d1-97a1-7a13aad31174",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XbBjwHxZFKdTdmg9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk",
          "mode": "list",
          "cachedResultName": "Linkedin post idea ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jSCqGgeSYPFxQ5Ym56M9LM2EQod-jgnALwyLtwx-Ksk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json['row_number'] }}",
            "Status": "cancelled"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Post idea",
              "displayName": "Post idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Instruction ",
              "displayName": "Instruction ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Generative inage (yes/no)",
              "displayName": "Generative inage (yes/no)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post ID",
              "displayName": "Post ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1232,
        80
      ],
      "id": "73698e9c-4717-4f79-a3a0-b8fb0c321ddc",
      "name": "Update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "XbBjwHxZFKdTdmg9",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1280,
        208
      ],
      "id": "63b019c2-a1b0-4836-bba9-d26224826f32",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff0016bd-0323-4bc8-91b0-0af57f4bb268",
              "name": "",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "881bf99e-03d5-40e1-af4f-28065927e191",
              "name": "subject_line",
              "value": "LinkedIn Post Ready for Approval",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        -128
      ],
      "id": "e03e9965-1441-4f55-9ca9-f755aa26c1f5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "kunadianb@gmail.com",
        "subject": "LinkedIn Post Ready for Approval",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 24,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        800,
        0
      ],
      "id": "611a0521-76a0-4d8c-b852-a258239ccb8c",
      "name": "Send message and wait for response",
      "webhookId": "c073c4ba-09d0-4f21-b2ac-7d40c5fd37cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "7PTLr9fwZ0BbX9qY",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1152,
        304
      ],
      "id": "c164c672-35a6-45f9-9d8e-6aa93f41593c",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "rhwNXupgbg1sY7eq",
          "name": "Anthropic account 4"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a post1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e054f16d-3883-4def-b5d5-79bcc52b482f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2cc4a6a79cbc72ca79dc523f4bc907fb844f08b028c8196b6e2c0fcbd0e16713"
  },
  "id": "TpQfH6NXFZbHUx3F",
  "tags": []
}